<p>these are the notes you've saved for the song <h1><%= @song.title %></h1><p><br>
from the opera <h2><%= @song.opera.name %></h2> 
<p><% @notes.each do |note| %><p> 
   <%= note.content %>
<% end %>