<p> hello <h1> <%= @user.username %> </h1> </p>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<br>
link_to "add a note" 
<br>
link_to "view saved notes" 
<br>
 # the above should link to a note index page which lists song titles associated with notes 

