<p> hello <h1> <%= @user.username %> </h1> </p>
<br>
<h3> <%= link_to "view saved notes by opera", operas_path %>
<br>

<p> <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %></p>
<p> <input type=submit value='logout'></p>
<p><% end %></p>




