you have entered <h1><%= @song.title %></h1>

from the opera <h2> <%= @song.opera.name %></h2> 

would you like to write down some thoughts?
<br>
<br>
button 'write a note'
<br>
<br>
no thanks nevermind
<br>
<br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>