<h2><%= @opera.name %></h2>

<p> <% @opera.songs.each do |song| %> </p>

<h3> <%= link_to song.title, song_path(song.id) %></p></h3>


<% end %>


<%= link_to "delete opera", opera_path(@opera), method: 'delete' %>
